/* Stylesheet für Buttons */
.button {
    -fx-background-color: #4cf5ed; /* Hintergrundfarbe */
    -fx-text-fill: black; /* Textfarbe */
    -fx-font-size: 14px; /* Schriftgröße */
    -fx-padding: 8px 16px; /* Innenabstand */
    -fx-border-radius: 5px; /* Randradius */
}

.button:hover {
    -fx-background-color: #45a049; /* Hintergrundfarbe bei Hover */
    -fx-font-size: 30px;
}

.button:pressed {
    -fx-background-color: #0D784C; /* Hintergrundfarbe bei Klick */
}
